main {
  padding-top: 20px;
}

main .row {
	margin-bottom: 20px;
}

header {
	padding: 10px;
	background-color: #92a8d1;
}

h1{
	margin-top: 0px;
	margin-bottom: 0px;
}

.box {
	border: 1px solid #e0e2e4;
}

img {
	width: 100%;
}
.content {
	padding-left: 20px;
	padding-right: 20px;
}
